@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to left,#5875b7, #9073c3);
}

main {
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;
    font-family: Roboto;
}

main section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 180px;
    background: rgba(255, 255, 255, 0.205);
    text-align: center;
    border-radius: 5px;
}

main section h1 {
    color: rgb(230, 228, 228);
    margin-top: 20px;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgb(103, 103, 103);
    font-size: 25px;
}

main section > p {
    margin: 0 10px;
}

main section > p{
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}
main section > p:nth-of-type(1){
    border-bottom: none;
}

main section > p:nth-last-of-type(1){
    border-bottom: none;
}

main section h2 {
    font-size: 40px;
}

main section button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin: 0 10px 20px;
    background: #fff93a;
    border: 2px solid gray;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

main section button p {
    margin-right: 3px;
}

main section:nth-child(1){
    height: 400px;
}
main section:nth-child(2){
    height: 470px;
}
main section:nth-child(3){
    height: 370px;
}

@media (max-width:600px){
    main {
        height: 1500px;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 20px;;
    }
    main section:nth-child(1){
        height: 450px;
    }
    main section:nth-child(2){
        height: 500px;
    }
    main section:nth-child(3){
        height: 400px;
    }
}